/C:
/KSP_test*
/KSP_API
/Resources
/Sounds
/Temp
/Routes
/Library/metadata/**
/Library/*Cache*
/Assets/ThirdParty
/GameData/Hangar/Plugins/PluginData/Hangar/config.xml
/Assets/bbox/**
/Releases/*
/Screenshots/**
/UserManual/**
/Debugging/**
/AssetsVariants/**
/DesaturatedTexturePack/GameData/**
/EngineSim/**
/**/obj/**
/**/cache/**
/**/bin/**
*~
*.swp
*.blend1
*.log
*.meta
*.mdb
*.pyc
*.bak
/vessel_positioning.txt
/Source/Hangar.userprefs
/Library/CurrentLayout.dwlt
/Library/expandedItems
/Library/ScriptAssemblies
/Assets/Textures/sources
/Library/FailedAssetImports.txt
/Assembly-CSharp.dump
