/C:
/KSP_test*
/KSP_API
/Resources
/Sounds
/Temp
/Routes
/GameData/Hangar/Plugins/PluginData/Hangar/config.xml
/Releases/*
/Screenshots/**
/UserManual/**
/Debugging/**
/AssetsVariants/**
/DesaturatedTexturePack/GameData/**
/EngineSim/**
/**/obj/**
/**/cache/**
/**/bin/**
/Assets/**/Materials/*__*.mat
*~
*.swp
*.blend1
*.log
*.meta
*.mdb
*.pyc
*.bak
/vessel_positioning.txt
/Source/Hangar.userprefs
/Assembly-CSharp.dump

/Assets/Textures/*.png
/Assets/Textures/sources/
/Assets/Plugins/
/Assets/SquadCore/
/Assets/bbox/
/Assets/ThirdParty/
/Assets/PartTools*
/Library/
/ProjectSettings/
/PartTools.cfg

.idea/
/MassCalc/*_map.py
/MassCalc/Kerbin*.py
/MassCalc/path.py
/Assets/GroundConstruction
/Development-files
